// DO NOT DELETE THIS FILE OR ANY VARIABLES

// Colors
// =============================================================================
$white: #fafafa;
$black: #333;

// Selection
$selection-text-color: $white;
$selection-background-color: $black;

// Typography
// =============================================================================
$font-size: 16px;
$line-height: 24px / $font-size;
$body-font-family: 'Josefin Sans', sans-serif;
$font-color: $white;
